html {
  background-color: #211951;
}

body {
  margin: 0px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #211951;
  z-index: -1; /* Ensure particles are in the background */
}

nav {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #211951;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
}

.nav-links {
  display: flex;
  margin-right: 10px;
  gap: 20px;
}

.logo {
  margin-right: auto;
  margin-left: 20px;
  margin-bottom: 5px;
}

.logo-gh-img {
  width: 100px;
}

.github-logo {
  width: 27px;
}

.linkedin-logo {
  width: 26px;
}

.mail-img {
  width: 35px;
}

.img-link {
  text-decoration: none;
}

.text-links {
  font-family: "Kode Mono", monospace;
  font-size: 16pt;
}

#portfolio {
  text-decoration: none;
  color: #15f5ba;
  margin-right: 0px;
}

#about {
  text-decoration: none;
  color: #15f5ba;
  margin-right: 10px;
}

#about:hover {
  text-decoration: underline;
}

#portfolio:hover {
  text-decoration: underline;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
}

.heading {
  display: flex;
  position: absolute;
  top: 20%;
  width: 80%;
  margin-left: 20%;
  z-index: -1;
}

#greeting {
  font-family: "Kode Mono", monospace;
  font-size: 50px;
  color: #f0f3ff;
  margin-right: 10%;
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    top: 70px;
    background-color: #211951;
    left: 0px;
    position: absolute;
    padding: 10 0;
    align-items: center;
    justify-content: center;
  }

  .nav-links a {
    padding-top: 20px;
    padding-left: 50%;
    padding-right: 50%;
    border-top: 1px solid #444;
  }

  .nav-toggle-label img {
    width: 60px;
    height: 90px;
  }

  .nav-toggle-label {
    display: flex;
    align-self: flex-start;
    margin-right: 20px;
  }

  .nav-toggle:checked + .nav-toggle-label + .nav-links {
    display: flex;
  }
}
