html {
  background-color: #211951;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #211951;
  z-index: 0; /* Ensure particles are in the background */
}

nav {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: transparent;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  z-index: 1;
}

.nav-links {
  display: flex;
  margin-right: 10px;
  gap: 20px;
}

.logo {
  margin-right: auto;
  margin-left: 20px;
  margin-bottom: 5px;
}

.logo-gh-img {
  width: 100px;
}

.github-logo {
  width: 27px;
}

.linkedin-logo {
  width: 26px;
}

.mail-img {
  width: 35px;
}

.img-link {
  text-decoration: none;
}

.text-links {
  font-family: "Kode Mono", monospace;
  font-size: 16pt;
}

#portfolio {
  text-decoration: none;
  color: #15f5ba;
  margin-right: 0px;
}

#about {
  text-decoration: none;
  color: #15f5ba;
  margin-right: 10px;
}

#skills {
  text-decoration: none;
  color: #15f5ba;
  margin-right: 0px;
}

#about:hover {
  text-decoration: underline;
}

#portfolio:hover {
  text-decoration: underline;
}

#skills:hover {
  text-decoration: underline;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
}

.heading-container {
  display: flex;
  position: absolute;
  pointer-events: all;
  flex-direction: column;
  align-items: center;
  top: 25%;
  width: 80%;
  margin: 0% 10% 0% 10%;
  z-index: 1;
  gap: 40px;
}

#greeting {
  display: flex;
  text-align: center;
  font-family: "Kode Mono", monospace;
  font-size: 3.2rem;
  color: #f0f3ff;
  width: auto;
  margin: auto;
}

#job-title {
  display: flex;
  font-family: "Kode Mono", monospace;
  font-size: 1.6rem;
  color: #f0f3ff;
  text-align: center;
  margin: auto;
  width: auto;
}

.button-container {
  display: flex;
  width: auto;
  margin-top: 10%;
}

.down-button {
  width: auto;
  margin: auto;
  height: auto;
  background-color: transparent;
  outline: none;
  border: 3px solid #15f5ba;
  font-family: "Kode Mono", monospace;
  color: #f0f3ff;
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 10px;
  z-index: auto;
  pointer-events: auto;
}

.down-button:hover {
  box-shadow: 5px 5px 5px 5px black;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    top: 70px;
    background-color: #211951;
    left: 0px;
    position: absolute;
    padding: 10 0;
    align-items: center;
    justify-content: center;
  }

  .nav-links a {
    padding-top: 20px;
    padding-left: 50%;
    padding-right: 50%;
    border-top: 1px solid #444;
  }

  .nav-toggle-label img {
    width: 60px;
    height: 90px;
  }

  .nav-toggle-label {
    display: flex;
    align-self: flex-start;
    margin-right: 20px;
  }

  .nav-toggle:checked + .nav-toggle-label + .nav-links {
    display: flex;
  }

  .heading {
    margin-left: 5%;
    margin-right: 5%;
  }
}
